.form{
    display:flex;
    flex-direction:column;
    align-items:center;

}
.form label{
    font-family: Luminari, fantasy;
    font-size: 12px;
    padding:12px;

}
.button {
   padding:12px;
}

